.content{
    background-color: bisque;
}
.logout-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.logout-button:hover {
    background-color: #c82333;
}
